<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kamarena.pfc.quiniclubs" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Pronostico"
            android:label="@string/title_activity_pronosticos" >
        </activity>
        <activity
            android:name=".Registro"
            android:label="@string/title_activity_registro" >
        </activity>
        <activity
            android:name=".QuinielaUsuario"
            android:label="@string/title_activity_quiniela" >
        </activity>
        <activity
            android:name=".QuinielaComunidad"
            android:label="@string/title_activity_quiniela_comunidad" >
        </activity>
        <activity
            android:name=".Unirse"
            android:label="@string/title_activity_unirse" >
        </activity>
        <activity
            android:name=".NuevaComunidad"
            android:label="@string/title_activity_nueva_comunidad" >
        </activity>
        <activity
            android:name=".Ajustes"
            android:label="@string/title_activity_ajustes" >
        </activity>
    </application>

</manifest>
